/* ======================================
   RESET E ESTILOS GLOBAIS
   ====================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.8s ease-in-out;
}

img {
    width: 100px;
}
